/* Modifiers */

/* Position Modifiers */
.yb-center-margin.lr {
    /*Positioning*/
    margin-left: auto;
    margin-right: auto;
}

.yb-center-margin.tb {
    /*Positioning*/
    margin-top: auto;
    margin-bottom: auto;
}

.yb-margin-center.all {
    /*Positioning*/
    margin: auto;
}

.yb-margin-L5 {
    margin-left: 5px;
}

.yb-margin-L10 {
    margin-left: 10px;
}

.yb-margin-R5 {
    margin-right: 5px;
}

.yb-margin-R10 {
    margin-right: 10px;
}

.yb-margin-T10 {
    margin-top: 10px;
}

.yb-margin-T20 {
    margin-top: 20px;
}

.yb-margin-T30 {
    margin-top: 30px;
}

.yb-margin-B20 {
    margin-bottom: 10px;
}

.yb-margin-B30 {
    margin-bottom: 30px;
}

.yb-center-transform.lr {
    /*Positioning*/
    left: 50%;
    transform: translateX(-50%);
}

.yb-center-transform.tb {
    /*Positioning*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.yb-center-transform.all {
    /*Positioning*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.yb-centerItems {
    align-items: center;
}

.yb-flexColumn {
    display: flex;
    flex-direction: column;
}

.yb-flexRow {
    display: flex;
    flex-direction: row;
}

.yb-gap5 {
    grid-gap: 5px;
}
.yb-gap10 {
    grid-gap: 10px;
}

.yb-buttonIconGrid.R {
    display: grid;
    grid-template-columns: 3fr 1fr;
    transition: 0.5s;
}

.yb-buttonIconGrid:hover {
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    cursor: pointer;
    transition: 0.5s
}

.yb-tform-cntrOrigin {
    transform-origin: center;
}

.yb-hblock-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.yb-hblock-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.yb-hblock-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.yb-hblock-flex {
    display: flex;
    flex-direction: row;
}

.yb-vblock-2 {
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.yb-vblock-3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.yb-vblock-4 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.yb-vblock-flex {
    display: flex;
    flex-direction: column;
}

.deci-rect {
    width: 10%;
}

.quarter-rect {
    width: 25%
}

.third-rect {
    width: 33%;
}

.half-rect {
    width: 50%;
}


.pointer-object {
    cursor: pointer;
}

.yb-widthConstraint-600 {
    max-width: 600px;
}

.yb-padding-L5 {
    padding-left: 5px;
}

.yb-paddingCorrect-R5 {
    transform: translateX(-2.5px);
}

.yb-padding-LR5 {
    padding-left: 5px;
    padding-right: 5px;
}

.yb-padding-ALL5 {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.yb-relative {
    position: relative;
}

/* Color Modifiers */
.white {
    /*Style*/
    background-color: rgba(255, 255, 255);
}

.black {
    /*Style*/
    background-color: rgba(0, 0, 0);
}

.yb-bg-red {
    background-color: red;
}

.yb-bg-green {
    /*Style*/
    background-color: rgb(0, 170, 0);
}

.yb-bg-cosmicPurple {
    /*Style*/
    background-color: rgb(102, 51, 153);
}

.yb-bg-blue {
    /*Style*/
    background-color: rgb(0, 0, 165);
}

.yb-bg-gray {
    /*Style*/
    background-color: #4b4b4b;
}



@media screen and (prefers-color-scheme: light) {
    .yb-bg-autoGray {
        background-color: gray;
    }

    .yb-font-autoGray {
        color: gray;
    }

    .fill-autoGray {
        fill: gray;
    }
    
}

@media screen and (prefers-color-scheme: dark) {
    .yb-bg-autoGray {
        background-color: rgb(35, 35, 35);
    }

    .yb-font-autoGray {
        color: rgb(35, 35, 35);
    }

    .yb-fill-autoGray {
        fill: rgb(35, 35, 35);
    }
}

.yb-bg-lightGray {
    /*Style*/
    background-color: #6b6b6b;
}

.yb-bg-darkGray {
    background-color: rgb(35, 35, 35);
}

.yb-bg-transparent {
    background-color: transparent;
}

/* Icon Fill Modifiers */
@media (prefers-color-scheme: dark) {
    .yb-fill-auto {
        fill: white;
        mix-blend-mode: difference;
    }
}

@media (prefers-color-scheme: light) {
    .yb-fill-auto {
        fill: black;
    }
}
    
.yb-fill-white {
    /*Style*/
    fill: white;
}

.yb-fill-black {
    /*Style*/
    fill: black;
}

.yb-fill-green {
    /*Style*/
    fill: rgb(0, 170, 0);
}

.yb-fill-cosmicPurple {
    /*Style*/
    fill: rgb(102, 51, 153);
}

.yb-fill-gray {
    /*Style*/
    fill: #4b4b4b;
}


/* Shape Modifiers */

.yb-rounded {
    /*Style*/
    border-radius: 40px;
}

.yb-squared {
    /*Style*/
    border-radius: 5px;
}

.yb-circle {
    /*Style*/
    border-radius: 50%;
}

/* Border Modifiers */

.yb-brdr-sol {
    /*Style*/
    border-style: solid;
}

@media (prefers-color-scheme: dark) {
    .yb-panel {
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }

}

@media (prefers-color-scheme: light) {
    .yb-panel {
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }
    .yb-button {
        background-color: rgb(200, 200, 200); 
    }
}

.yb-tiny-wide {
    width: 28%;
}

.yb-small-wide {
    width: 33%;
}

.yb-medium-wide {
    width: 80px;
}

/*

        Border Modifiers

*/


.yb-brdr-dash {
    /*Style*/
    border-style: dashed;
}

.yb-brdr-dot {
    /*Style*/
    border-style: dotted;
}

.yb-brdr-dub {
    /*Style*/
    border-style: double;
}

.yb-brdr-groove {
    /*Style*/
    border-style: groove;
}

.yb-brdr-ridge {
    /*Style*/
    border-style: ridge;
}

.yb-brdr-inset {
    /*Style*/
    border-style: inset;
}

.yb-brdr-outset {
    /*Style*/
    border-style: outset;
}

.yb-no-brdr {
    /*Style*/
    border-style: none;
}

@media screen and (prefers-color-scheme: dark) {
    .yb-brdr-clr-auto {
        /*Style*/
        border-color: white;
    }
}

@media screen and (prefers-color-scheme: light) {
    .yb-brdr-clr-auto {
        /*Style*/
        border-color: rgba(0, 0, 0);
    }
}
    

.yb-brdr-clr-rb {
    /*Style*/
    border-image: linear-gradient(
        to right,
        red,
        orange, 
        yellow, 
        green, 
        blue, 
        indigo, 
        violet
    ) 1;
}

.yb-brdr-narrow {
    /*Style*/
    border-width: 3px;
}

.yb-brdr-medium {
    /*Style*/
    border-width: 5px;
}

.yb-brdr-wide {
    /*Style*/
    border-width: 7px;
}

.yb-sq-tiny {
    /*Sizing*/
    height: 24px;
    width: 24px;
}

.yb-sq-small {
    /*Sizing*/
    height: 32px;
    width: 32px;
}

.yb-sq-medium {
    /*Sizing*/
    height: 40px;
    width: 40px;
}

.yb-sq-large {
    /*Sizing*/
    height: 48px;
    width: 48px;
}

.yb-sq-xLarge {
    /*Sizing*/
    height: 64px;
    width: 64px;
}

.yb-sq-xxLarge {
    /*Sizing*/
    height: 72px;
    width: 72px;
}

.yb-sq-xxxLarge {
    /*Sizing*/
    height: 128px;
    width: 128px;
}

.yb-fillContainer {
    /*sizing*/
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.yb-fillWidth {
    width: 100%;
}

.yb-fieldHeight {
    height: 30px;
}

.yb-grayFill {
    fill: rgb(91, 91, 91);
    mix-blend-mode: difference;
}

.blend {
    mix-blend-mode: difference;
}


/* 

        Text Modifiers 
        
*/
@media (prefers-color-scheme: light) {
    .yb-txt-clr-auto {
        /*Style*/
        color: black;
    }

}

@media (prefers-color-scheme: dark){
    .yb-txt-clr-auto {
        /*Style*/
        color: white;
    }

}

/* media query for light mode text */
.yb-txt-clr-white {
    /*Style*/
    color: white;
}

.yb-txt-clr-black {
    /*Style*/
    color: black;
}

.yb-txt-clr-green {
    /*Style*/
    color: rgb(0, 170, 0);
}

.yb-txt-clr-cosmicPurple {
    /*Style*/
    color: rgb(102, 51, 153);
}

.yb-txt-clr-gray {
    /*Style*/
    color: #4b4b4b;
}

.yb-txt-clr-darkGray {
    /*Style*/
    color: rgb(35, 35, 35);
}


.yb-txt-sz-s {
    /*Sizing*/
    font-size: 12px;
}

.yb-txt-sz-m {
    /*Sizing*/
    font-size: 14px;
}

.yb-txt-sz-l {
    /*Sizing*/
    font-size: 18px;
}

.yb-txt-sz-xl {
    /*Sizing*/
    font-size: 24px;
}

.yb-txt-sz-xxl {
    /*Sizing*/
    font-size: 36px;
}

.yb-txt-bold {
    /*Style*/
    font-weight: 600;
}

.yb-align-left {
    /*Style*/
    text-align: left;
}

.yb-align-center {
    /*Style*/
    text-align: center;
}

.yb-align-right {
    /*Style*/
    text-align: right;
}

.yb-txt-heavy {
    font-weight: 650;
}



/* Shadow Modifiers */
.yb-dropShadow-m {
    /*Style*/
    -webkit-filter: drop-shadow(2px 2px 5px black);
    filter: drop-shadow(2px 2px 5px black);
}

.yb-dropShadow-l {
    /*Style*/
    -webkit-filter: drop-shadow(4px 4px 10px black);
    filter: drop-shadow(4px 4px 10px black);
}

.yb-dropShadow-s {
    /*Style*/
    -webkit-filter: drop-shadow(1px 1px 2px black);
    filter: drop-shadow(1px 1px 2px black);
}

/* Animation Modifiers */
.yb-rotate-forever {
    /*Style*/
    animation: yb-rotate 1s linear infinite;
}

.yb-hideUp {
    transform: translateY(-100%);
    transition: 0.5s;
}

.yb-fieldGrid {
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.yb-vScroll {
    overflow-y: scroll;
    scrollbar-width: none; /* Create a thin scrollbar on Firefox */
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color); 
}


/* Customize the scrollbar track */
.yb-vScroll::-webkit-scrollbar {
    width: 0px; /* Adjust the width as needed */
    height: 0%;
    margin-left: 2px;
}

/* Customize the scrollbar track color */
.yb-vScroll::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

/* Customize the scrollbar thumb (handle) */
.yb-vScroll::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    
}

.yb-lockScroll-y {
    overflow-y: hidden;
}